*{
    margin: 0;
    padding: 0;
}

.container{
    height: 90%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.recent-adds h3{
    margin-bottom: 5px;
    margin-left: 50px;
    font-size: 30px;
}

.recent-adds .recent-cap{
    margin-left: 50px;
    font-size: 17px;
}

.recent-imgs img{
    height: 300px;
    width: 400px;
    object-fit: fill;
    border-radius: 20px;
    margin-left: 50px;
}

.recent-imgs{
    display: flex;
}

.recent-one, .recent-two, .recent-three{
    margin: 20px 25px 20px 25px;
}

.room-price{
    font-size: 20px;
    margin: 7px;
    margin-left: 50px;
}

.room-cap{
    margin: 7px;
    margin-left: 50px;
    font-size: 17px;
}

.recent-right-icon{
    position: relative;
    top: 140px;
    right: 45px;
}

/* features */

.features h3{
    margin-bottom: 5px;
    font-size: 30px;
    margin-left: 50px;
}

.feature-caption{
    font-size: 17px;
    margin-left: 50px;
}

.feature-imgs{
    display: flex;
    margin-left: 50px;
    /* flex-wrap: wrap; */
}

.feature-imgs img{
    height: 300px;
    width: 400px;
    border-radius: 20px;
    margin: 20px 40px 20px 40px; 
} 

.feature-right-icon{
    position: relative;
    top: 145px;
    right: 60px;
}
.feature-cap{
    margin-left: 40px;
}


/* recommeded sellers */
.rec-sellers h3{
    margin: 30px 0 5px 0px;
    font-size: 30px;
    margin-left: 50px;
}
.rec-cap{
    font-size: 17px;
    margin-left: 50px;
}

.rec-sellers-list{
    height: 20%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.rec-seller a{
    height: 100px;
    width: 360px;
    text-decoration: none;
    color: black;
    display: flex;
    margin: 30px 40px 0px 40px;
    border: 1px solid red;
    border-radius: 15px;
}

.rec-seller img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    align-self: center;
    /* box-shadow: 1px 1px 1px 1px gray; */
}

.seller-details{
    font-size: 13px;
}
.seller-details h4{
    margin-top: 10px;
    margin-left: 5px;
}

.seller-tag, .seller-tag2{
    background-color: rgb(246, 194, 203);
    width: 35%;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: 0px 5px 5px 5px;
}
.seller-tag2{
    position: relative;
    left: 90px;
    bottom: 30.3px;
}

.exp{
    position: relative;
    bottom: 25px;
    margin-left: 5px;
}

.he-pro{
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    width: 120px;
    padding: 5px;
    background-color:cornflowerblue;
    color: white;
    border-radius: 5px;
    align-content: center;
    position: relative;
    left: 160px;
    bottom: 15px;
} 

.he{
    font-size: 10px;
    font-weight: 600;
    height: 18px;
    width: 50px;
    padding: 7px;
    background-color:rgb(177, 234, 153);
    color: black;
    border-radius: 5px;
    align-content: center;
    position: relative;
    left: 180px;
    bottom: 15px;   
}

.he-right-icon{
    position: relative;
    right: 52px;
    top: 65px;
}

/* Shalini's part */
.footer{
    /* margin-right: 100px; */
    background-color: #24262b;
    padding-top: 60px;
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_logo{
    margin-left: 710px;
	margin-bottom: 20px;
}

.other-searches h2{
    margin: 50px 0 5px 50px;
}
.other-searches h3{
    margin: 10px 0 10px 50px;
}
.search{
    margin-left: 70px;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: gray;
	padding-bottom: 60px;
}
a{
    color:gray;
    text-decoration: none;
}

ul{
	list-style: none;
}
.row{
    justify-content: center;
}

.row{
	display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
    margin: 60px 50px 25px 50px;
	/* margin-bottom: 35px; */
	/* margin-left: 110px; */
	/* margin-top: 60px; */
	text-decoration: underline;
	text-decoration-color: red;
	text-underline-offset: 0.5em;
}


.footer-col ul li a{
    font-size: 16px;
	color: #ffffff;
	font-weight: 300;
	color: #bbbbbb;
    /* margin-top: 30px; */
    margin: 60px 50px 0px 50px;
	transition: all 0.3s ease;
	/* margin-left: 112px; */
}


.socialicons{
    display:flex;
    justify-content: center;
}

.socialicons a{
	text-decoration: none;
	padding: 10px;
	background-color: #ffffff;
	margin: 10px;
	border-radius: 50%;
}